<li class="list-group-item">
  <div class="form-check">
    <%= radio_button_component %>
    <% if bbm_address.present? %>
      <div>
        <small class="text-muted">
          <%= t('requests.form.options.mail.restriction_message') %>
        </small>
      </div>

      <p class="alert alert-info my-2">
        <%= bbm_address.join('<br />').html_safe %>
      </p>
      <small class="text-muted mt-2">
        <%= t('requests.form.options.mail.info_html', url: t('urls.guides.bbm')) %>
      </small>
    <% else %>
      <div>
        <small class="text-muted">
            <%= t('requests.form.options.mail.warning_html', url: t('urls.forms.bbm')) %>
        </small>
      </div>
    <% end %>
  </div>
</li>