<li class="list-group-item">
  <div class="form-check">
    <%= radio_button_tag :delivery, delivery_value, checked, **radio_options, class: 'form-check-input' %>
    <%= label_tag :delivery_office, t('requests.form.options.office.label_html'), class: 'form-check-label' %>
    <% if office_address.present? %>
      <p class="alert alert-info my-2">
        <%= office_address %>
      </p>
      <small class="text-muted">
        <%= t('requests.form.options.office.info_html', url: t('urls.guides.office')) %>
      </small>
    <% else %>
      <div class="alert alert-warning my-2">
        <%= t('requests.form.options.office.warning_html', url: t('urls.guides.office')) %>
      </div>
    <% end %>
  </div>
</li>