<% if restricted? %>
<div id="restricted-circ-option">
  <% if options_set.aeon? %>
    <p id="aeon-option" class="mb-3"><%= t('requests.form.options.aeon.info') %></p>
    <div class="request-buttons mt-3">
      <%= link_to t('requests.form.buttons.aeon'),
                  Settings.aeon.requesting_url + item.aeon_params.to_query,
                  class: 'btn btn-success btn-lg',
                  data: { turbo_frame: '_top' } %>
    </div>
  <% elsif options.inquiry.archives? %>
    <p id="archives-option" class="mb-3">
      <%= t('requests.form.options.archives.info_html', visit_url: t('urls.requesting_info.archives_visit'),
            contact_url: t('urls.requesting_info.archives_contact')) %>
    </p>
  <% elsif options.inquiry.hsp? %>
    <p id="hsp-option" class="mb-3"><%= t('requests.form.options.hsp.info_html', url: t('urls.requesting_info.hsp')) %></p>
    <%= link_to t('requests.form.buttons.hsp'), t('urls.requesting_info.hsp_appointment'), class: 'btn btn-success btn-lg', target: '_blank' %>
  <% elsif options.inquiry.reference? %>
    <p id="reference-option" class="mb-3">
      <%= t('requests.form.options.reference.info', library: item.location.library_name) %>
    </p>
  <% elsif options.inquiry.reserves? %>
    <p id="reserves-option" class="mb-3">
      <%= t('requests.form.options.reserves.info', library: item.location.library_name) %>
    </p>
  <% elsif options.inquiry.onsite? %>
    <p id="onsite-option" class="mb-3">
      <%= t('requests.form.options.onsite.info', library: item.location.library_name) %>
    </p>
  <% end %>
</div>
<% elsif unavailable? %>
<div id="unavailable-option">
  <%= t('requests.form.options.none.info') %>
  <div class="request-buttons mt-3">
    <%= ill_request_link %>
  </div>
</div>
<% end %>
