<div class="<%= @classes %>">
  <% if documents.present? %>

    <div class="row align-items-center mb-1">
      <%# Additional Results source title %>
      <div class="col-sm">
        <h2 class="h5 mb-2">
          <%= t('additional_results.header_text.results_html', source: display_name('summon')) %>
        </h2>

      </div>

      <%# Link to all results on Articles+ %>
      <% if search.record_count > 3 %>
        <div class="view-all col-sm-auto mb-2">
          <%= link_to t('additional_results.view_all', count: record_count, source: display_name('summon')),
                      summon_url,
                      class: 'btn btn-sm btn-primary',
                      target: '_blank',
                      rel: 'noopener'
          %>
        </div>
      <% end %>
    </div>

    <%# List top results followed by facet counts %>
    <ol>
      <% documents.each do |doc| %>
        <%# Link to and display info for each result %>
        <li class="mb-2">
          <dl class="document-metadata dl-invert row">

            <%# Linked document title %>
            <dt><%= t('additional_results.summon.fields.title') %></dt>
            <dd>
              <%= link_to doc.title.html_safe, doc.link %>
            </dd>

            <%# Authors, publication, publication year %>
            <% if info_display(doc).present? %>
              <dt><%= t('additional_results.summon.fields.info') %></dt>
              <dd>
                <%= info_display(doc).html_safe %>
              </dd>
            <% end %>

            <%# Format and availability %>
            <% if availability_display(doc).present? %>
              <dt><%= t('additional_results.summon.fields.availability') %></dt>
              <dd class="holdings">
                <%= availability_display(doc).html_safe %>
              </dd>
            <% end %>
          </dl>
        </li>
      <% end %>
    </ol>

    <% if render_facet_counts?('ContentType') %>
      <%# List document counts for 'ContentType' facet %>
      <div class="row">
        <div class="col">
          <ul class="list-inline mb-0">
            <%# Link each facet label/count to a filtered Articles+ results page %>
            <% facet_counts['ContentType'].each do |count| %>
              <%= facet_count_link(count) %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

  <% else %>

    <h2 class="h5 mb-0">
      <%= t('additional_results.header_text.no_results_html', source: display_name('summon')) %>
    </h2>

  <% end %>
</div>