<!DOCTYPE html>
<html>
  <head>
    <title>Find - Penn Libraries Catalog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main>
      <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>
      <div class="row">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
