<li class="list-group-item">
  <%= radio_button_tag :option, 'mail' %>
  <%= label_tag :option_mail, t('requests.form.options.mail.label') %>
  <p>
    <%= t('requests.form.options.mail.message') %>
  </p>
  <p>
    <%= check_box_tag :bbm_validation, { required: true } %>
    <%= label_tag :bbm_validation, t('requests.form.options.mail.validation') %>
  </p>
</li>
