<li class="list-group-item">
  <%= radio_button_tag :option, 'office', checked? %>
  <%= label_tag :option_office, t('requests.form.options.office.label') %>
  <p>
    <% if user_address_set? %>
      <%= t('requests.form.options.office.info').html_safe %>
    <div class="alert alert-info">
      <%= user_address.join('<br>').html_safe %>
    </div>
  <% else %>
    <div class="alert alert-warning">
      <%= t('requests.form.options.office.warning').html_safe %>
    </div>
  <% end %>
  </p>
</li>