<div class="document__inventory col-lg-3">
  <h2 class="h5 document__inventory-heading">
    <%= pluralize(@inventory.count, t('inventory.show.navigation.header')) %>
  </h2>
  <div data-controller="search-list">
    <div class="search-list d-none" data-search-list-target="search">
      <input
        type="text"
        class="form-control search-list__input"
        placeholder="Search this list"
        aria-label="Search this list"
        data-action="input->search-list#search"
        data-search-list-target="input"
      >
      <small
        class="text-muted d-none search-list__results-description"
        data-search-list-target="description"
        aria-live="polite">
      </small>
    </div>
    <div
      class="document__inventory-list"
      id="inventory-pills-tab"
      role="tablist"
      aria-orientation="vertical"
      data-controller="inventory-list"
    >
    <% @inventory.each_with_index do |entry, i| %>
      <button class="<%= classes(entry).join(' ') %> <%= " active" if active?(entry) %>"
              id="inventory-pills-<%= i %>"
              data-bs-toggle="pill"
              data-bs-target="#inventory-<%= i %>"
              data-search-list-target="entry"
              type="button"
              role="tab"
              aria-controls="inventory-<%= i %>"
              aria-selected="<%= active?(entry) ? 'true' : 'false' %>"
              data-inventory-list-target="entryButton"
              data-action="click->inventory-list#entryChanged"
              data-entry-id="<%= entry.id %>"
      >
        <span class="inventory-item__header"><%= entry.human_readable_location %></span>
        <span class="inventory-item__main"><%= entry.description %></span>
        <% unless entry.resource_link? %>
          <span class="inventory-item__sub-main"><%= entry.coverage_statement %></span>
        <% end %>
        <span class="inventory-item__footer"><%= entry.human_readable_status %></span>
      </button>
    <% end %>
    </div>
  </div>
  <% unless @inventory.complete? %>
  <p class="mt-3">
    <%= t('inventory.incomplete_inventory_html') %>
  </p>
  <% end %>
</div>