<p class="document-inventory">
  <span class="inventory-item__header"><%= entry.location %></span>
  <span class="inventory-item__main"><%= entry.description %></span>
  <span class="inventory-item__sub-main"><%= entry.coverage_statement %></span>
</p>
<p class="<%= availability_class %> inventory-item__availability-summary">
  <span class="inventory-item__availability-main"><%= entry.human_readable_status %></span>
  <span class="inventory-item__availability-footer"><%= entry.human_readable_status_description %></span>
</p>

<turbo-frame id="physical_detail_<%= entry.id %>"
             src="<%= physical_detail_inventory_path(entry.mms_id, entry.id) %>"
             loading="lazy"
             target="_top"
             data-controller="missing-frame"
             data-missing-frame-error-value="<%= t('inventory.details_missing_frame') %>">
</turbo-frame>

<% if user.nil? %>
  <%= link_to t('requests.form.log_in_to_request_item'), login_path, class: 'btn btn-success',
              data: { controller: 'request-button', action: 'click->request-button#addRequestQueryToUrl' } %>
<% else %>
  <details class="fulfillment" data-controller="request-button" data-request-button-target="requestButton">
    <summary id="request_item" class="btn btn-success fulfillment__summary"><%= t('requests.form.request_item') %></summary>
    <%= turbo_frame_tag 'form_frame',
                        src: request_fulfillment_form_path(mms_id: entry.mms_id, holding_id: entry.id),
                        loading: 'lazy',
                        data: { controller: 'missing-frame', missing_frame_error_value: t('requests.form.missing_frame') } do %>
      <div class="fulfillment__container">
        <h2 class="fulfillment__heading h4"><%= t('requests.form.heading') %></h2>
        <div class="row">
          <div class="col-md-7 placeholder-glow">
            <p class="mb-2"><span class="placeholder w-75"></span></p>
            <ul class="list-group js_radio-options">
              <li class="list-group-item placeholder-glow">
                <span class="placeholder w-75"></span>
                <span class="placeholder w-50"></span>
              </li>
              <li class="list-group-item placeholder-glow">
                <span class="placeholder w-75"></span>
                <span class="placeholder w-50"></span>
              </li>
            </ul>
          </div>
        </div>
        <button class="btn btn-success mt-3 btn-lg" disabled><%= t('requests.form.buttons.placeholder') %></button>
      </div>
    <% end %>
  </details>
<% end %>
