<%# Override of Blacklight v9.0 to:
      - change pagination bar to display "Page 1 of 2" with next and previous links
      - removing pagination bar with links to each page
      - changing outer ol element to be a div %>

<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside

   Paginator now using the Bootstrap paginator class
-%>
<%= paginator.render do -%>
  <div class="d-flex align-items-center gap-3 pl-margin-t-xl">
    <%= prev_page_tag %>
    <p class="mb-0">Page <%= current_page %> of <%= total_pages %></p>
    <%= next_page_tag %>
  </div>
<% end -%>