<%= turbo_frame_tag 'options_frame' do %>
  <% if deliverable? %>
    <fieldset>
      <legend class="h6"> <%= t('requests.form.options.label') %></legend>
      <ul class="list-group js_radio-options mb-3">
        <% if options.scan? %>
          <li class="list-group-item">
            <div class="form-check">
              <%= radio_button_tag :delivery, :scan, true, class: 'form-check-input', data: { action: 'change->options-select#optionChanged' } %>
              <%= label_tag :delivery_scan, t('requests.form.options.scan.label'), class: 'form-check-label' %>
              <div>
                <small class="text-muted">
                  <%= t('requests.form.options.scan.info_html', url: t('urls.guides.scan')) %>
                </small>
              </div>
            </div>
          </li>
        <% end %>

        <% if options.office? %>
          <%= render(Account::Requests::Options::OfficeComponent.new(user: user,
                                                                     checked: !options.scan?,
                                                                     data: { action: 'change->options-select#optionChanged' })) %>
        <% end %>

        <% if options.pickup? %>
          <%= render(Account::Requests::Options::PickupComponent.new(user: user,
                                                                     checked: !options.any?(:scan, :office),
                                                                     data: { action: 'change->options-select#optionChanged' })) %>
        <% end %>

        <% if options.mail? %>
          <%= render(Account::Requests::Options::MailComponent.new(data: { action: 'change->options-select#optionChanged' })) %>
        <% end %>
      </ul>
    </fieldset>

  <% elsif options.aeon? %>
    <p class="js_aeon"><%= t('requests.form.options.aeon.kislak_info_html', url: t('urls.requesting_info.kislak_reading_room')) %></p>
    <p class="mb-3"><%= t('requests.form.options.aeon.access_info_html') %></p>
  <% elsif options.archives? %>
    <p class="js_archives alert alert-info mb-3">
      <%= t('requests.form.options.archives.info_html', url: t('urls.requesting_info.archives')) %>
    </p>
  <% end %>
  <div class="request-buttons">
    <%# TODO: pass all open params to the ill_new_request_path to pass params to ILL form %>
    <%= link_to t('requests.form.buttons.scan'),
                ill_new_request_path,
                { class: 'd-none btn btn-success btn-lg',
                  data: { options_select_target: 'scanButton', turbo_frame: '_top' } } %>
    <%= submit_tag t('requests.form.buttons.delivery'),
                   { class: 'd-none btn btn-success btn-lg',
                     data: { options_select_target: 'officeButton', turbo_frame: '_top' } } %>
    <%= submit_tag t('requests.form.buttons.pickup'),
                   { class: 'd-none btn btn-success btn-lg',
                     data: { options_select_target: 'pickupButton', turbo_frame: '_top' } } %>
    <%= submit_tag t('requests.form.buttons.mail'),
                   { class: 'd-none btn btn-success btn-lg',
                     data: { options_select_target: 'mailButton', turbo_frame: '_top' } } %>
    <%# TODO: add the aeon link (where is it?), use item.bib_data['mms_id'] and item.holding_data['holding_id'] %>
    <%= link_to t('requests.form.buttons.aeon'),
                '',
                { class: 'd-none btn btn-success btn-lg',
                  data: { options_select_target: 'viewButton', turbo_frame: '_top' } } %>
  </div>
<% end %>
