<div class="documents-list <%= @classes %>">
  <div class='card col-12 mb-3'>

    <% results_sources.each_with_index do |component, i| %>
      <% source = component.source %>
      <% if valid_source?(source) %>
        <div class="card-body <%= i > 0 ? 'border-top' : '' %>">
          <turbo-frame id="additional-results-source__<%= source %>"
                       src="<%= source_results_path(source: source, query: @query) %>">
            <h2 class="h5 mb-0">
              <%= t('additional_results.loading_html', source: source_display_name(source)) %>
            </h2>
          </turbo-frame>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
