<% if @query.present? && @validated_sources.any? %>
  <div class="documents-list <%= @classes %>">
    <div class='card col-12 mb-3'>
      <% @validated_sources.each_with_index do |source, i| %>
        <div class="card-body <%= i > 0 ? 'border-top' : '' %>">
          <turbo-frame id="additional-results__source-<%= i %>"
                       src="<%= additional_results_catalog_path(params: { q: @query}) %>">
            Loading <%= source_display_name(source) %> results...
          </turbo-frame>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
