<div class="document__inventory col-lg-3">
  <h2 class="h5 document__inventory-heading">
    <%= @inventory.count %> <%= @inventory.count > 1 ? t('inventory.show.navigation.header_plural') : t('inventory.show.navigation.header') %>
  </h2>
  <div class="document__inventory-list" id="inventory-pills-tab" role="tablist" aria-orientation="vertical">
    <% @inventory.each_with_index do |entry, i| %>
      <button class="inventory-item inventory-item--primary <%= " active" if active?(entry) %>"
              id="inventory-pills-<%= i %>"
              data-bs-toggle="pill"
              data-bs-target="#inventory-<%= i %>"
              type="button"
              role="tab"
              aria-controls="inventory-<%= i %>"
              aria-selected="<% active?(entry) ? 'true' : 'false' %>">
        <span class="inventory-item__header"><%= entry.location %></span>
        <span class="inventory-item__main"><%= entry.description %></span>
        <% unless entry.resource_link? %>
          <span class="inventory-item__main"><%= entry.coverage_statement %></span>
        <% end %>
        <span class="inventory-item__footer">Available</span>
      </button>
    <% end %>
  </div>
</div>