<li class="list-group-item results-list-item">
  <h3 class="results-list-item__heading h5">
    <%= link_to title, link_url %>
  </h3>
  <div class="results-list-item__content">
    <dl class="results-list-item__metadata">

      <% if creator %>
        <dt><%= t('discover.entry.fields.creator') %></dt>
        <dd><%= creator %></dd>
      <% end %>

      <% if formats %>
        <dt><%= t('discover.entry.fields.formats') %></dt>
        <dd><%= formats %></dd>
      <% end %>

      <% if publication %>
        <dt><%= t('discover.entry.fields.publication') %></dt>
        <dd><%= publication %></dd>
      <% end %>

      <% if abstract %>
        <dt><%= t('discover.entry.fields.abstract') %></dt>
        <dd><%= abstract %></dd>
      <% end %>

      <% if snippet %>
        <dt><%= t('discover.entry.fields.snippet') %></dt>
        <dd><%= snippet %></dd>
      <% end %>

      <% if location %>
        <dt><%= t('discover.entry.fields.location') %></dt>
        <dd class="results-list-item__location"><%= location %></dd>
      <% end %>
    </dl>

    <%= image_tag(thumbnail_url, class: 'results-list-item__thumbnail') if thumbnail_url %>
  </div>
</li>