<div class="modal fade" id="<%= location_modal_id %>" tabindex="-1" aria-labelledby="<%= location_modal_id %>-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="<%= location_modal_id %>-label">
          <%= t('discover.results.location_modal.title', source: label) %>
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('discover.results.location_modal.close') %>"></button>
      </div>
      <div class="modal-body">
        <%= render "discover/location_modal/#{source}" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('discover.results.location_modal.close') %></button>
      </div>
    </div>
  </div>
</div>
