<turbo-frame id="<%= turbo_frame_id %>" class="card-body">
  <%= turbo_stream_action_tag :replace, target: results_dom_id, template: total_count_content %>
  <% if results? %>
    <%= turbo_stream_action_tag :replace, target: results_button_id, template: results_button_content %>
  <% end %>
  <ul class="list-group list-group-flush results-list results-list">
    <% if results? %>
      <% results.take(count).each do |entry| %>
        <%= render Discover::EntryComponent.new(entry: entry, source: source) %>
      <% end %>
    <% else %>
      <span class="py-3 text-center"><%= t('discover.results.messages.no_results') %></span>
    <% end %>
  </ul>
</turbo-frame>