<turbo-frame id="<%= id %>"
             class="card"
             src="<%= discover_search_results_path(source: source, q: query) %>"
             <%= "disabled" if disabled %>>
  <div class="card-header">
    <h3 class="card-title h4">
      <i class="<%= icon_classes.join(' ') %>"></i>
      <%= label %>
    </h3>
    <% if results? %>
      <a class="btn btn-sm btn-primary" href="<%= results.results_url %>"><%= t('discover.results.view_all_button.label', count: number_with_delimiter(results.total_count)) %></a>
    <% end %>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush results-list results-list">
      <%= content %>
    </ul>
  </div>
</turbo-frame>