
<h2 class="mt-4 mb-3"><%= t('account.settings.information.heading') %></h2>
<dl class="pl-dl pl-margin-y-xl">
  <dt><%= t('account.settings.information.name') %></dt>
  <dd><%= full_name %></dd>

  <dt><%= t('account.settings.information.email') %></dt>
  <dd><%= email %></dd>

  <dt><%= t('account.settings.information.user_group') %></dt>
  <dd><%= ils_group_name %></dd>
</dl>

<p class="pl-callout pl-line-length mt-0">
  <strong><%= t('account.guide_callout') %></strong> <%= t('account.settings.information.update_details_html', url: t('urls.guides.account') ) %>
</p>

<h2 class="mt-5 mb-3"><%= t('account.settings.bbm.heading') %></h2>
<% if bbm_delivery_address.present? %>
  <p><%= bbm_delivery_address.join('<br />').html_safe %></p>
<% else %>
  <div class="alert alert-light">
    <p class="mb-0"><%= t('account.settings.bbm.empty_address') %></p>
  </div>
<% end %>

<p class="pl-callout pl-line-length">
  <strong><%= t('account.guide_callout') %></strong> <%= t('account.settings.bbm.set_your_address_html', url: t('urls.guides.bbm') ) %>
</p>

<% if user.faculty_express? %>
<h2 class="mt-5 mb-3"><%= t('account.settings.faculty_express.heading') %></h2>
<% if office_delivery_address.present? %>
  <p><%= office_delivery_address %></p>
<% else %>
  <div class="alert alert-light">
    <p class="mb-0"><%= t('account.settings.faculty_express.empty_address') %></p>
  </div>
<% end %>

<p class="pl-callout pl-line-length">
  <strong><%= t('account.guide_callout') %></strong> <%= t('account.settings.faculty_express.set_your_address_html', url: t('urls.guides.office') ) %>
</p>
<% end %>
