 <tr>
  <td>
    <%= index %>
  </td>
  <td>
    <%= link_to entry.title, request_path(entry.system, entry.type, entry.id) %>
    <br>
    <%= entry.author %>
  </td>
  <td>
    <%= render(Account::ShelfStatusComponent.new(entry)) %>
    <% if entry.ils_hold? %>
      <br>
      Pick up: <%= entry.pickup_location %>
    <% end %>
    <br>
    <%= entry.type %>
  </td>
</tr>

