<div class="request__container">
  <h1 class="request__heading"><%= t('item_requests.heading') %></h1>
  <div class="request__options">
    <%= form_with(url: '/') do |form| %>
      <div class="mb-3">
        <%= form.label :item, t('item_requests.item_label'), { class: 'form-label' } %>
        <%= form.select(:item, @item_labels, {}, { class: 'form-select' }) %>
      </div>

      <div class="mb-3">
        <%= form.label :location,t('item_requests.location_label'), { class: 'form-label' } %>
        <%= form.select(:location, %w[location_one location_two], {}, { class: 'form-select' }) %>
      </div>

      <%= submit_tag(t('item_requests.request'), { class: 'btn btn-success' }) %>
    <% end %>
  </div>
</div>