<pennlibs-footer>
  <section>
    <h2><%= t('footer.account.heading') %></h2>
    <%= link_to t('footer.account.shelf'), shelf_path %>
    <%= link_to t('footer.account.bookmarks'), bookmarks_path %>
    <%= link_to t('footer.account.fines'), fines_and_fees_path %>
    <%= link_to t('footer.account.settings'), settings_path %>
  </section>
</pennlibs-footer>