<%= turbo_frame_tag 'form_frame' do %>
  <div class="fulfillment__container">
    <h2 class="fulfillment__heading h4"><%= t('requests.form.heading') %></h2>
    <div class="row">
      <div class="col-md-7">
        <div data-controller="item-select comments">
          <%= form_with(url: requests_path, method: :post, html: { class: 'fulfillment-form' }) do |form| %>
            <% if items.length > 1 %>
              <div class="mb-3">
                <%= form.label :item_pid, t('requests.form.item_label'), { class: 'form-label h6' } %>
                <%= form.select(:item_pid, item_labels, { include_blank: t('requests.form.item_placeholder') },
                                { class: 'form-select',
                                  data: { item_select_target: 'select',
                                          action: 'change->item-select#selectChanged' } }) %>
              </div>
            <% else %>
              <%= form.hidden_field :item_pid, value: items.first.item_data['pid'] || 'no-item', data: { item_select_target: 'itemPidField' } %>
            <% end %>

            <template id="options_loading_template" data-item-select-target="optionsLoadingTemplate">
              <div class="placeholder-glow">
                <p class="mb-2"><span class="placeholder w-75"></span></p>
                <ul class="list-group js_radio-options">
                  <li class="list-group-item placeholder-glow">
                    <span class="placeholder w-75"></span>
                    <span class="placeholder w-50"></span>
                  </li>
                  <li class="list-group-item placeholder-glow">
                    <span class="placeholder w-75"></span>
                    <span class="placeholder w-50"></span>
                  </li>
                </ul>
              </div>
              <button class="btn btn-success mt-3 btn-lg" disabled><%= t('requests.form.buttons.placeholder') %></button>
            </template>

            <%= turbo_frame_tag 'options_frame', data: { controller: 'options-select',
                                                         item_select_target: 'optionsFrame',
                                                         options_select_target: 'optionsFrame' } %>

            <%= form.hidden_field :mms_id, value: @mms_id, data: { item_select_target: 'mmsIdField' } %>
            <%= form.hidden_field :holding_id, value: @holding_id, data: { item_select_target: 'holdingIdField' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
