<%= turbo_frame_tag 'form_frame' do %>
  <div class="request__container">
    <h1 class="request__heading"><%= t('requests.form.heading') %></h1>
    <div class="row">
      <div class="col-md-7">
        <div class="request__options" data-controller="item-select comments">
          <%= form_with(url: requests_path, method: :post) do |form| %>
            <div class="mb-3">
              <%= form.label :item_pid, t('requests.form.item_label'), { class: 'form-label' } %>
              <%= form.select(:item_pid, item_labels, { include_blank: t('requests.form.item_placeholder') },
                              { class: 'form-select',
                                data: { item_select_target: 'select',
                                        action: 'change->item-select#selectChanged' },
                                disabled: item_labels.empty? }) %>
            </div>

            <template id="options_loading_template" data-item-select-target="optionsLoadingTemplate">
              <%# TODO: spinner? %>
              <p>Loading....</p>
            </template>

            <div class="mb-3">
              <%= turbo_frame_tag 'options_frame', data: { item_select_target: 'optionsFrame' } %>
            </div>

            <%= form.hidden_field :mms_id, value: @mms_id, data: { item_select_target: 'mmsIdField' } %>
            <%= form.hidden_field :holding_id, value: @holding_id, data: { item_select_target: 'holdingIdField' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>