<%= turbo_frame_tag 'form_frame' do %>
  <div class="request__container">
    <h1 class="request__heading"><%= t('requests.form.heading') %></h1>
    <div class="row">
      <div class="col-md-7">
        <div class="request__options" data-controller="item-select comments options-select">
          <%= form_with(url: requests_path, method: :post) do |form| %>
            <% if items.length > 1 %>
              <div class="mb-2">
                <%= form.label :item_pid, t('requests.form.item_label'), { class: 'form-label' } %>
                <%= form.select(:item_pid, item_labels, { include_blank: t('requests.form.item_placeholder') },
                                { class: 'form-select',
                                  data: { item_select_target: 'select',
                                          action: 'change->item-select#selectChanged' } }) %>
              </div>
            <% else %>
              <%= form.hidden_field :item_pid, value: items.first.pid || 'no-item', data: { item_select_target: 'itemPidField' } %>
            <% end %>

            <template id="options_loading_template" data-item-select-target="optionsLoadingTemplate">
              <%# TODO: spinner? %>
              <p>Loading....</p>
            </template>

            <%= turbo_frame_tag 'options_frame', data: { item_select_target: 'optionsFrame',
                                                         options_select_target: 'optionsFrame' } %>

            <%= form.hidden_field :mms_id, value: @mms_id, data: { item_select_target: 'mmsIdField' } %>
            <%= form.hidden_field :holding_id, value: @holding_id, data: { item_select_target: 'holdingIdField' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>