<%= turbo_frame_tag 'options_frame' do %>
  <p><%= item.pid %></p>
  <ul class="list-group">
    <% if user_is_facex? %>
      <%= render(Account::Requests::Options::OfficeComponent.new(user_address: user_address)) %>
    <% end %>
    <%= render(Account::Requests::Options::PickupComponent.new(facex: user_is_facex?,
                                                               default_pickup_location: default_pickup_location)) %>
    <%= render Account::Requests::Options::MailComponent.new %>
  </ul>
<% end %>
