<%= turbo_frame_tag 'options_frame' do %>
  <% if options.include? :pickup %>
    <%= label_tag :delivery_options, t('requests.form.options.label'), { class: 'form-label h6' } %>
    <ul class="list-group js_radio-options mb-3">
      <% if options.include? :scan %>
        <li class="list-group-item">
          <%= radio_button_tag :option, 'scan', true, data: { action: 'change->options-select#optionChanged' } %>
          <%= label_tag :option_scan, t('requests.form.options.scan.label') %>
          <div>
            <small class="text-muted">
              <%= t('requests.form.options.scan.info').html_safe %>
            </small>
          </div>
        </li>
      <% end %>
      <% if options.include? :office %>
        <%= render(Account::Requests::Options::OfficeComponent.new(user_address: user_address, options: options)) %>
      <% end %>
      <%= render(Account::Requests::Options::PickupComponent
                   .new(default_pickup_location: default_pickup_location, options: options)) %>
      <% if options.include? :mail %>
        <li class="list-group-item">
          <%= radio_button_tag :option, 'mail', false, data: { action: 'change->options-select#optionChanged' } %>
          <%= label_tag :option_mail, t('requests.form.options.mail.label') %>
          <div>
            <small class="text-muted">
              <%= t('requests.form.options.mail.message').html_safe %>
            </small>
          </div>
          <%# TODO: bbm validation? popup? %>
        </li>
        </ul>
      <% end %>
  <% elsif options.include? :aeon %>
    <p class="js_aeon"><%= t('requests.form.options.aeon.kislak_message').html_safe %></p>
    <p class="mb-3"><%= t('requests.form.options.aeon.access_message').html_safe %></p>
  <% elsif options.include? :archives %>
    <p class="js_archives alert alert-info mb-0">
      <%= t('requests.form.options.archives.message').html_safe %>
    </p>
  <% end %>
  <div class="d-none comment-box mb-2" data-options-select-target="addComments">
    <%= link_to t('requests.form.add_comments'), '', { data: { action: 'click->comments#showCommentsArea' } } %>
    <div class="d-none" data-comments-target="commentsArea">
      <%= label_tag :location, t('requests.form.comments_label'), { class: 'form-label' } %>
      <%= text_area_tag :comments, '', { class:'form-control'} %>
    </div>
  </div>
  <div class="request-buttons">
    <%# TODO: pass all open params to the ill_new_request_path to pass params to ILL form %>
    <%= link_to t('requests.form.buttons.scan'), ill_new_request_path, { class: 'd-none btn btn-success btn-lg', data: { options_select_target: 'scanButton' } } %>
    <%= link_to t('requests.form.buttons.delivery'), ill_new_request_path, { class: 'd-none btn btn-success btn-lg', data: { options_select_target: 'officeButton' } } %>
    <%= submit_tag t('requests.form.buttons.pickup'), { class: 'd-none btn btn-success btn-lg', data: { options_select_target: 'pickupButton' } } %>
    <%= link_to t('requests.form.buttons.mail'), ill_new_request_path, { class: 'd-none btn btn-success btn-lg', data: { options_select_target: 'mailButton' } } %>
    <%# TODO: add the aeon link (where is it?), use item.bib_data['mms_id'] and item.holding_data['holding_id'] %>
    <%= link_to t('requests.form.buttons.aeon'), '', { class: 'd-none btn btn-success btn-lg', data: { options_select_target: 'viewButton' } } %>
  </div>
<% end %>
