<%= turbo_frame_tag 'options_frame' do %>
  <%= label_tag :delivery_options, "Delivery Options", { class: 'form-label' } %>
  <p><%= item.pid %></p>
  <ul class="list-group">
    <% if options.include? :pickup %>
      <% if options.include? :scan %>
        <li class="list-group-item">
          <%= radio_button_tag :delivery, 'scan', { checked: true } %>
          <%= label_tag :delivery_scan, 'Get a Scan' %>
        </li>
      <% end %>
      <% if options.include? :office %>
        <%= render(Account::Requests::Options::OfficeComponent.new(user_address: user_address, options: options)) %>
      <% end %>
      <%= render(Account::Requests::Options::PickupComponent
                   .new(default_pickup_location: default_pickup_location, options: options)) %>
      <% if options.include? :mail %>
        <%= render Account::Requests::Options::MailComponent.new %>
      <% end %>
    <% elsif options.include? :aeon %>
      <li class="list-group-item">
        This item is available for viewing in the special collections reading room by submitting a viewing request in
        the Aeon Special Collections system. You will need to create an account and request an appointment time to view
        the item in the reading room.
      </li>
    <% elsif options.include? :archives %>
      <li class="list-group-item">
        Pick the damn thing up at the archives.
      </li>
    <% end %>
  </ul>
  <% if options.include? :pickup %>
    <div class="add-comments mt-2">
      <%= link_to t('requests.add_comments'), '', { data: { action: 'click->comments#showCommentsArea' } } %>
      <div class="d-none" data-comments-target="commentsArea">
        <%= label_tag :location, t('requests.comments_label'), { class: 'form-label' } %>
        <%= text_area_tag :comments, '', { class: 'form-control' } %>
      </div>
    </div>
    <div class="request-buttons mt-2">
      <%= submit_tag(t('requests.request'), { class: 'btn btn-success',
                                              data: { item_select_target: 'requestItemButton' } }) %>
  <% elsif options.include? :aeon %>
    <%= link_to 'Request to View', '', { class: 'btn btn-primary',
                                         data: { item_select_target: 'requestViewButton' } } %>
    </div>
  <% end %>
<% end %>
