<%= turbo_frame_tag 'options_frame' do %>
  <%= label_tag :delivery_options, t('requests.form.options.label'), { class: 'form-label' } %>
  <ul class="list-group">
    <% if options.include? :pickup %>
      <% if options.include? :scan %>
        <li class="list-group-item">
          <%= radio_button_tag :option, 'scan', { checked: true } %>
          <%= label_tag :option_scan, t('requests.form.options.scan') %>
        </li>
      <% end %>
      <% if options.include? :office %>
        <%= render(Account::Requests::Options::OfficeComponent.new(user_address: user_address, options: options)) %>
      <% end %>
      <%= render(Account::Requests::Options::PickupComponent
                   .new(default_pickup_location: default_pickup_location, options: options)) %>
      <% if options.include? :mail %>
        <%= render Account::Requests::Options::MailComponent.new %>
      <% end %>
    <% elsif options.include? :aeon %>
      <li class="list-group-item">
        <%= t('requests.form.options.aeon.message') %>
      </li>
    <% elsif options.include? :archives %>
      <div class="alert alert-info">
        <%= t('requests.form.options.archives.message').html_safe %>
      </div>
    <% end %>
  </ul>
  <% if options.include? :pickup %>
    <div class="add-comments mt-2">
      <%= link_to t('requests.form.add_comments'), '', { data: { action: 'click->comments#showCommentsArea' } } %>
      <div class="d-none" data-comments-target="commentsArea">
        <%= label_tag :location, t('requests.form.comments_label'), { class: 'form-label' } %>
        <%= text_area_tag :comments, '', { class: 'form-control' } %>
      </div>
    </div>
  <% end %>
  <div class="request-buttons mt-2">
    <% if options.include? :pickup %>
      <%= submit_tag(t('requests.form.request_item'), { class: 'btn btn-success' }) %>
    <% elsif options.include? :aeon %>
      <%= link_to t('requests.form.options.aeon.button'), '', { class: 'btn btn-primary' } %>
    <% end %>
  </div>
<% end %>