<turbo-frame id="inventory_<%= id %>" src="<%= brief_inventory_path(id) %>" target="_top"
             data-controller="missing-frame" data-missing-frame-error-value="<%= t('inventory.physical_missing_frame') %>">
  <ol class="fi-options">
    <%= resource_link_entries %>
    <% skeleton_entry_count.times do %>
    <li class="fi-option fi-option--loading" role="status">
      <span class="fi-option__link pl-button" aria-hidden="true">
        <span class="fi-option__summary">
          <span class="fi-option__field fi-option__field--status">
            <span class="placeholder placeholder-wave" style="width: <%= rand(4..8) %>rem">&nbsp;</span>
          </span>
          <span class="fi-option__field fi-option__field--location">
            <span class="placeholder placeholder-wave" style="width: <%= rand(8..22) %>rem">&nbsp;</span>
          </span>
          <% if rand < 0.33 %>
          <span class="fi-option__field">
            <span class="placeholder placeholder-wave" style="width: <%= rand(6..18) %>rem">&nbsp;</span>
          </span>
          <% end %>
        </span>
      </span>
      <span class="visually-hidden"><%= t('inventory.entries.loading') %></span>
    </li>
    <% end %>
    <%= render(Inventory::Brief::RemainderComponent.new(document)) %>
  </ol>
</turbo-frame>
