<%# Override of file from Blacklight v9.0 to fully customize. This file seems unlikely to change in BL.  %>

<div class="pl-margin-b-xl">
  <h1 class="page__heading"><%= t('home.info.heading') %></h1>

  <p class="pl-line-length page__lede">
    <%= t('home.info.description').html_safe %>
  </p>

  <h2><%= t('home.info.manage.heading') %></h2>
  <p class="pl-line-length">
    <%= t('home.info.manage.description') %>
  </p>

  <p><%= t('home.info.manage.cta_html', link: link_to(t('header.account'), account_path)) %></p>

  <h2 class="pl-h2"><%= t('home.resources.heading') %></h2>
  <p class="pl-line-length"><%= t('home.resources.lede') %></p>

  <div class="row gx-5">
    <div class="col-sm-6">
      <dl class="mb-4 mb-sm-0">
        <dt>
          <%= link_to(t('home.resources.research.articles.heading'), t('urls.external_services.summon'), target: '_blank') %>
        </dt>
        <dd>
          <%= t('home.resources.research.articles.description') %>
        </dd>

        <dt>
          <%= link_to(t('home.resources.research.borrow.heading.borrowdirect'), t('urls.external_services.borrowdirect'), target: '_blank') %>
          · <%= link_to(t('home.resources.research.borrow.heading.easyborrow'), t('urls.external_services.easyborrow'), target: '_blank') %>
          · <%= link_to(t('footer.account.request'), ill_new_request_path, target: '_blank') %>
        </dt>
        <dd>
          <%= t('home.resources.research.borrow.description') %>
        </dd>

        <dt>
          <%= link_to(t('home.resources.research.scholarlycommons.heading'), t('urls.external_services.scholarlycommons'), target: '_blank') %>
        </dt>
        <dd>
          <%= t('home.resources.research.scholarlycommons.description') %>
        </dd>

        <dt>
          <%= link_to(t('home.resources.research.search_center.heading'), t('urls.external_services.search_center'), target: '_blank') %>
        </dt>
        <dd>
          <%= t('home.resources.research.search_center.description') %>
        </dd>

        <dt>
          <%= link_to(t('home.resources.research.worldcat.heading'), t('urls.external_services.worldcat'), target: '_blank') %>
        </dt>
        <dd>
          <%= t('home.resources.research.worldcat.description') %>
        </dd>
      </dl>
    </div>

    <%# Archival resource links %>
    <div class="col-sm-6">
      <dl class="mb-0">
        <dt>
          <%= link_to(t('home.resources.archival.colenda.heading'), t('urls.external_services.colenda'), target: '_blank') %>
        </dt>
        <dd>
          <%= t('home.resources.archival.colenda.description') %>
        </dd>

        <dt>
          <%= link_to(t('home.resources.archival.finding_aids.heading'), t('urls.external_services.finding_aids'), target: '_blank') %>
          ·
          <%= link_to(t('home.resources.archival.philly_archives.heading'), t('urls.external_services.philly_archives'), target: '_blank') %>
        </dt>
        <dd>
          <%= t('home.resources.archival.finding_aids.description') %>
        </dd>

        <dt>
          <%= link_to(t('home.resources.archival.hathi.heading'), t('urls.external_services.hathi'), target: '_blank') %>
        </dt>
        <dd>
          <%= t('home.resources.archival.hathi.description') %>
        </dd>

        <dt>
          <%= link_to(t('home.resources.archival.jstor.heading'), t('urls.external_services.jstor'), target: '_blank') %>
        </dt>
        <dd>
          <%= t('home.resources.archival.jstor.description') %>
        </dd>

        <dt>
          <%= link_to(t('home.resources.archival.openn.heading'), t('urls.external_services.openn'), target: '_blank') %>
        </dt>
        <dd>
          <%= t('home.resources.archival.openn.description') %>
        </dd>
      </dl>
    </div>
  </div>
</div>