<div class="home-content ms-lg-3">
  <div class="row g-4 mb-4">
    <div class="col-md-7">

      <%# Info card %>
      <div class="home-content__info card mb-4">
        <div class="card-body">
          <h2 class="h4 mb-3"><%= t('home.info.heading') %></h2>
          <p class="card-text">
            <span class="fw-bolder"><%= t('home.info.discover.title') %></span> <%= t('home.info.discover.description') %>
          </p>
          <p class="card-text">
            <span class="fw-bolder"><%= t('home.info.manage.title') %></span> <%= t('home.info.manage.description') %>
          </p>
        </div>
      </div>

      <%# Feedback card %>
      <%# @todo Convert to CalloutComponent once exists %>
      <div class="callout my-0">
        <h2 class="h4 mb-3"><%= t('home.feedback.title') %></h2>
        <p class="card-text">
          <%= t('home.feedback.description', url: t('urls.forms.feedback', request_url: request.original_url)).html_safe %> <%= t('home.feedback.release_notes', url: t('urls.help.release_notes')).html_safe %>
        </p>
        <%# @todo Uncomment this and add link to release notes once they exist %>
        <!-- <p><%# t('home.feedback.release_notes').html_safe %></p> -->
      </div>

    </div>
    <div class="home-content__help col-md-5">

      <%# Help card %>
      <div class="card h-100">
        <div class="card-body">
          <h2 class="h4 mb-3"><%= t('home.help.heading') %></h2>

          <%# Connect with us links %>
          <h3 class="h5"><%= t('home.help.connect.title') %></h3>
          <ul class="list-unstyled card-text mb-4">
            <li class="mb-2">
              <%= link_to(t('home.help.connect.chat.title'), t('urls.help.chat', request_url: request.original_url), target: '_blank') %>: <%= t('home.help.connect.chat.description') %>
            </li>
            <li class="mb-2">
              <%= link_to(t('home.help.connect.ask.title'), t('urls.help.ask'), target: '_blank') %>: <%= t('home.help.connect.ask.description') %>
            </li>
            <li class="mb-2">
              <%= link_to(t('home.help.connect.appointment.title'), t('urls.help.appointment'), target: '_blank') %>: <%= t('home.help.connect.appointment.description') %>
            </li>
          </ul>

          <%# Self-service links %>
          <h3 class="h5"><%= t('home.help.self_service.title') %></h3>
          <ul class="list-unstyled card-text mb-1">
            <li class="mb-2">
              <%= link_to(t('home.help.self_service.faq'), t('urls.help.faq'), target: '_blank') %>
            </li>
            <li class="mb-2">
              <%= link_to(t('home.help.self_service.guides'), t('urls.help.guides'), target: '_blank') %>
            </li>
            <li class="mb-2">
              <%= link_to(t('home.help.self_service.libraries'), t('urls.help.libraries'), target: '_blank') %> <%= link_to(t('home.help.self_service.lib_hours'), t('urls.help.lib_hours'), target: '_blank') %>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="row g-4">
    <div class="col">

      <%# More resources card %>
      <div class="card home-content__resources">
        <div class="card-body">
          <div class="card-text">
            <h2 class="h4 mb-3"><%= t('home.resources.title') %></h2>
            <p class="mb-4"><%= t('home.resources.lede') %></p>
            <div class="row gx-5">

              <%# Research resource links %>
              <div class="col-sm-6">
                <h3 class="h5 mb-3"><%= t('home.resources.research.title') %></h3>
                <dl class="mb-4 mb-sm-0">
                  <dt>
                    <%= link_to(t('home.resources.research.articles.title'), t('urls.external_services.summon'), target: '_blank') %>
                  </dt>
                  <dd>
                    <%= t('home.resources.research.articles.description') %>
                  </dd>

                  <dt>
                    <%= link_to(t('home.resources.research.borrow.title.borrowdirect'), t('urls.external_services.borrowdirect'), target: '_blank') %> | <%= link_to(t('home.resources.research.borrow.title.easyborrow'), t('urls.external_services.easyborrow'), target: '_blank') %>
                  </dt>
                  <dd>
                    <%= t('home.resources.research.borrow.description') %>
                  </dd>

                  <dt>
                    <%= link_to(t('home.resources.research.scholarlycommons.title'), t('urls.external_services.scholarlycommons'), target: '_blank') %>
                  </dt>
                  <dd>
                    <%= t('home.resources.research.scholarlycommons.description') %>
                  </dd>

                  <dt>
                    <%= link_to(t('home.resources.research.search_center.title'), t('urls.external_services.search_center'), target: '_blank') %>
                  </dt>
                  <dd>
                    <%= t('home.resources.research.search_center.description') %>
                  </dd>

                  <dt>
                    <%= link_to(t('home.resources.research.worldcat.title'), t('urls.external_services.worldcat'), target: '_blank') %>
                  </dt>
                  <dd>
                    <%= t('home.resources.research.worldcat.description') %>
                  </dd>
                </dl>
              </div>

              <%# Archival resource links %>
              <div class="col-sm-6">
                <h3 class="h5 mb-3"><%= t('home.resources.archival.title') %></h3>

                <dl class="mb-0">
                  <dt>
                    <%= link_to(t('home.resources.archival.jstor.title'), t('urls.external_services.jstor'), target: '_blank') %>
                  </dt>
                  <dd>
                    <%= t('home.resources.archival.jstor.description') %>
                  </dd>

                  <dt>
                    <%= link_to(t('home.resources.archival.colenda.title'), t('urls.external_services.colenda'), target: '_blank') %>
                  </dt>
                  <dd>
                    <%= t('home.resources.archival.colenda.description') %>
                  </dd>

                  <dt>
                    <%= link_to(t('home.resources.archival.openn.title'), t('urls.external_services.openn'), target: '_blank') %>
                  </dt>
                  <dd>
                    <%= t('home.resources.archival.openn.description') %>
                  </dd>

                  <dt>
                    <%= link_to(t('home.resources.archival.finding_aids.title'), t('urls.external_services.finding_aids'), target: '_blank') %>
                  </dt>
                  <dd>
                    <%= t('home.resources.archival.finding_aids.description') %>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>