<%# Overriding view from Blacklight 9.0 to:
      - render both `search_results_header` and `search_header_component` in the container header
      - remove constraints component rendering - it is now rendered in the search header component
      - in page title if there are no constraints, display "All" %>

<% content_for(:page_title) do %>
  <% constraints = render_search_to_page_title(search_state) %>
  <% constraints = 'All' if constraints.blank? %>
  <%= t('blacklight.search.page_title.title', constraints: constraints, application_name: application_name) %>
<% end %>

<% content_for(:head) do -%>
  <%= render 'catalog/opensearch_response_metadata', response: @response %>
  <%= rss_feed_link_tag %>
  <%= atom_feed_link_tag %>
  <%= json_api_link_tag %>
<% end %>

<% content_for(:skip_links) do -%>
  <%= render Blacklight::SkipLinkItemComponent.new(text: t('blacklight.skip_links.first_result'), href: '#documents') %>
<% end %>

<% content_for(:container_header) do -%>
  <%= render 'search_results_header' %>
  <%= render blacklight_config.view_config(document_index_view_type).search_header_component.new %>
<% end %>

<%= render blacklight_config.view_config(document_index_view_type).search_header_component.new %>

<h2 class="visually-hidden"><%= t('blacklight.search.search_results') %></h2>

<%- if @response.empty? %>
  <%= render "zero_results" %>
<%- elsif render_grouped_response? %>
  <%= render 'group' %>
<%- else %>
  <%= render_document_index @response.documents %>
<%- end %>

<%= render 'results_pagination' %>
