<div
  class="modal fade"
  id="catalogingErrorModal"
  tabindex="-1"
  aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          <%= t("cataloging_errors.form.title") %>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal">
        </button>
      </div>

      <%= form_with url: cataloging_errors_path do |f| %>
        <div class="modal-body">
          <%= hidden_field_tag :mms_id, @document.id %>

          <%= f.text_area :message,
            class: "form-control",
            rows: 6,
            required: true %>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
            Cancel
          </button>

          <%= f.submit "Send report", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
