<%# Copied template from Blacklight v9.0 - modified to use responsive offcanvas for sidebar %>

<% content_for(:head) do %>
  <meta name="blacklight-search-storage" content="<%= blacklight_config.track_search_session.storage %>">
<% end %>

<% conf = blacklight_config.view_config(document_index_view_type) %>

<%# Sidebar content for desktop (>= 820px) %>
<% content_for(:sidebar) do %>
  <%= render conf.sidebar_component.new(blacklight_config: blacklight_config,
                                        response: @response,
                                        view_config: conf) %>
<% end %>

<%# Offcanvas for mobile (< 820px) - rendered outside sidebar so sidebar can be display:none %>
<% content_for(:offcanvas) do %>
  <div class="offcanvas offcanvas-end fi-facets-offcanvas" tabindex="-1" id="facets-offcanvas" aria-labelledby="facets-offcanvas-label">
    <div class="offcanvas-header">
      <h3 class="offcanvas-title" id="facets-offcanvas-label"><%= t('blacklight.search.facets.title') %></h3>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#facets-offcanvas" aria-label="<%= t('blacklight.modal.close') %>"></button>
    </div>
    <div class="offcanvas-body">
      <%= render conf.sidebar_component.new(blacklight_config: blacklight_config,
                                            response: @response,
                                            view_config: conf) %>
    </div>
  </div>
<% end %>

<% unless has_search_parameters? %>
  <%# if there are no input/search related params, display the "home" partial -%>
  <%= render 'home' %>
<% else %>
  <%= render 'search_results' %>
<% end %>
