<p class="inventory-item__availability--easy inventory-item__availability-summary">
  <span class="inventory-item__main"><%= entry.description %></span>
  <span class="inventory-item__policy"><%= entry.status %></span>
</p>

<a href="<%= entry.href %>" class="btn btn-success"><%= entry.description %></a>
<p class="inventory-item__notes"><%= entry.data[:public_note] %></p>
