<div class="home-content ms-lg-3">

  <div class="row mt-3 g-4 mb-4">
    <div class="col-md-7">
      <div class="home-content__info card mb-4">
        <div class="card-body">
          <h2 class="h4 mb-3">What Can I Do Here?</h2>
          <div class="card-text">
            <p>
              <span class="fw-bolder">Discover library materials.</span> Use the search box to find books, ebooks, articles, journals, digital media, and more.
            </p>

            <p>
              <span class="fw-bolder">Manage your Library Account.</span> Create and manage item requests, renew checked out items, bookmark individual titles, and request delivery from other libraries across the country.
            </p>
          </div>
        </div>
      </div>

      <div class="callout my-0">
        <p class="mb-3">We are currently in the process of revamping and redesigning the Franklin catalog and are requesting feedback to ensure it meets your needs.</p>

        <p class="text-end mb-0">
          <%= link_to('Share your questions or comments', "https://upenn.libwizard.com/f/find-feedback?page_url_-optio=#{request.original_url}", class: 'btn btn-primary') %>
        </p>

        <%# @todo Uncomment this and add link to release notes once they exist %>
        <!-- <p>New features and improvements will be added throughout the summer and fall. Check the release notes
        for the latest updates.</p> -->
      </div>
    </div>
    <div class="home-content__help col-md-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="h4 mb-3">Where can I get help?</h2>

          <h3 class="h5">Connect with us</h3>

          <ul class="list-unstyled card-text mb-4">
            <li class="mb-2">
              <%= link_to('Chat', "https://faq.library.upenn
          .edu/chat/widget/15c79c53182e201520a47857fb3d1e96?referer=#{request.original_url}%2F&referer_title=Find&auth_id=0") %>: Get live assistance M-F 9-5
            </li>
            <li class="mb-2">
              <%= link_to('Ask', 'https://faq.library.upenn.edu/ask') %>: Send us a question and we’ll respond in 24 hours or less
            </li>
            <li class="mb-2">
              <%= link_to('Make an appointment', 'https://libcal.library.upenn.edu/appointments') %>: Consult a subject specialist
            </li>
          </ul>

          <h3 class="h5">Self-service</h3>

          <ul class="list-unstyled card-text mb-1">
            <li class="mb-2">
              <%= link_to('Check our FAQ', 'https://faq.library.upenn.edu/') %>
            </li>
            <li class="mb-2">
              <%= link_to('View our research guides', 'https://guides.library.upenn.edu/hometabs') %>
            </li>
            <li class="mb-2">
              <%= link_to('Visit a Library Location', 'https://www.library.upenn.edu/libraries-locations') %> <%= link_to('(see hours)', 'https://www.library.upenn.edu/about/hours') %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-4">
    <div class="col">
      <div class="card home-content__resources">
        <div class="card-body">
          <h2 class="h4 mb-3">More resources for your research</h2>
          <p class="mb-4">Expand your search using one of the following specialized tools.</p>
          <div class="row gx-5">
            <div class="col-sm-6">
              <h3 class="h5 mb-3">Research materials</h3>

              <dl class="card-text">
                <dt><%= link_to('Articles+', 'https://upenn.summon.serialssolutions.com/') %></dt>
                <dd>Full-text articles and book chapters</dd>

                <dt><%= link_to('BorrowDirect', 'https://upenn-borrowdirect.reshare.indexdata.com/') %> | <%= link_to('EasyBorrow', 'https://ezborrow.reshare.indexdata.com/') %></dt>
                <dd>Borrow materials or request scans from partner libraries</dd>

                <dt><%= link_to('ScholarlyCommons', 'https://repository.upenn.edu/home') %></dt>
                <dd>Penn dissertations, Penn faculty papers, and Penn Libraries publications</dd>

                <dt><%= link_to('Search Center', 'https://www.law.upenn.edu/library/research.php') %></dt>
                <dd>Biddle Law Library catalog</dd>

                <dt><%= link_to('WorldCat', 'http://hdl.library.upenn.edu/1017/7158') %></dt>
                <dd>Union catalog listing 540 million records held by member institutions</dd>
              </dl>
            </div>

            <div class="col-sm-6">
              <h3 class="h5 mb-3">Additional archival materials</h3>

              <dl class="card-text">
                <dt><%= link_to('JSTOR collections', 'https://www.jstor.org/site/upenn/') %></dt>
                <dd>Image collections from Penn and other institutions</dd>

                <dt><%= link_to('Colenda Digital Repository', 'https://colenda.library.upenn.edu/') %></dt>
                <dd>Digitized and born-digital material</dd>

                <dt><%= link_to('OPenn', 'https://openn.library.upenn.edu/') %></dt>
                <dd>Images of cultural heritage material, along with descriptive metadata, from the collections of contributing institutions</dd>

                <dt><%= link_to('Philadelphia Area Archives', 'https://findingaids.library.upenn.edu/') %></dt>
                <dd>Finding aids for archival materials at the Penn Libraries and repositories in the greater Philadelphia region</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>