<%# Copied template from Blacklight v8.11.0 to add breadcrumbs navigation %>

<%= page_title t('account.bookmarks.page_heading') %>

<%= render BreadcrumbsComponent.new do |component|%>
  <% component.with_breadcrumb(href: root_path) { t('account.breadcrumbs.root') } %>
  <% component.with_breadcrumb(href: account_path) { t('account.breadcrumbs.base') } %>
  <% component.with_breadcrumb(active: true) { t('account.bookmarks.page_heading') } %>
<% end %>

<div id="content" class="col-md-12">
  <h1 class='page__heading'><%= t('account.bookmarks.page_heading') %></h1>
  <p class="page__lede mb-4"><%= t('account.bookmarks.page_lede') %></p>

  <%- if current_or_guest_user.blank? -%>

    <h2 class='section-heading'><%= t('blacklight.bookmarks.need_login') %></h2>

  <%- elsif @response.documents.blank? -%>

    <h2 class='section-heading'><%= t('blacklight.bookmarks.no_bookmarks') %></h2>
  <% else %>
    <%= render 'sort_and_per_page' %>
    <%= render partial: 'tools', locals: { document_list: @response.documents } %>
    <h2 class='section-heading sr-only visually-hidden'><%= t('blacklight.bookmarks.list_title') %></h2>
    <%= render_document_index @response.documents %>
    <%= render 'results_pagination' %>
  <% end %>
</div>
