<% # Copied from Blacklight v9.0 %>

<%= content_tag @tag || :div, id: @id, class: @classes do %>

  <%= constraints_heading %>

  <% if no_constraints? && @show_all_constraint %>
    <%= all_constraint %>
  <% elsif query_constraints_area.present? %>
    <% query_constraints_area.each do |constraint| %>
      <%= constraint %>
    <% end %>
  <% else %>
    <%= query_constraints %>
  <% end %>

  <% if facet_constraints_area.present? %>
    <% facet_constraints_area.each do |constraint| %>
      <%= constraint %>
    <% end %>
  <% else %>
    <%= facet_constraints %>
  <% end %>

  <% additional_constraints.each do |constraints| %>
    <%= constraints %>
  <% end %>

  <div>
    <% if @edit_search %>
      <%= link_to advanced_search_catalog_path(@search_state.params), class: 'btn btn-light edit-search-btn', aria: { label: t('search.edit.label') }, data: { bs_toggle: 'tooltip', bs_title: t('search.edit.label') } do %>
        <%= render 'shared/svgs/edit' %>
      <% end %>
    <% end %>

    <%= render @start_over_component.new if @start_over_component %>
  </div>
<% end %>