<%# Copied template from Blacklight v8.3.0 to add inventory information, etc. %>

<div class="row">
  <%= inventory_navigation %>
  <%= content_tag @component,
                  id: @id,
                  data: {
                    'document-id': @document.id.to_s.parameterize,
                    'document-counter': @counter,
                  },
                  itemscope: true,
                  itemtype: @document.itemtype,
                  class: classes.flatten.join(' ') do %>
    <%= header %>
    <% if body.present? %>
      <%= body %>
    <% else %>
      <div class="document-main-section show-document-container">
        <%= title %>
        <%= inventory_content %>
        <%= embed %>
        <%= content %>
        <%= metadata %>
        <% metadata_sections.each do |section| %>
          <%= section %>
        <% end %>
        <% partials.each do |partial| %>
          <%= partial %>
        <% end %>
        <div class="mt-4">
          <hr />
          <p class="mb-0"><%= t('show.harmful_language_statement_html').html_safe %></p>
        </div>
      </div>
      <%= thumbnail %>
    <% end %>
    <%= footer %>
  <% end %>
</div>
