<div class="callout">
  <h2 class="pl-h3 mb-2"><%= t('blacklight.search.zero_results.title').html_safe %></h2>

  <ul class="pt-2 mb-0">
    <li class="pb-1">
      <%= t('blacklight.search.zero_results.suggestions.check_your_spelling') %>
    </li>
    <li class="pb-1">
      <%= t('blacklight.search.zero_results.suggestions.try_general_keywords') %>
    </li>
    <li class="pb-1">
      <%= t('blacklight.search.zero_results.suggestions.try_different_keywords') %>
    </li>
    <li class="pb-1">
      <%= t('blacklight.search.zero_results.suggestions.try_advanced_html').html_safe %>
    </li>
    <li class="pb-1">
      <%= t('blacklight.search.zero_results.suggestions.get_help_html', url: t('urls.help.ask')).html_safe %>
    </li>
    <li class="pb-1">
      <%= t('blacklight.search.zero_results.suggestions.external_request_html',
            ezborrow_url: t('urls.external_services.easyborrow'),
            borrowdirect_url: t('urls.external_services.borrowdirect'),
            ill_url: ill_new_request_path).html_safe %>
    </li>
  </ul>
</div>

<%= render AdditionalResults::AdditionalResultsComponent.new(
  params: params,
  sources: %w[summon]
) %>
