<p class="inventory-item__availability inventory-item__availability--primary">
  <span class="inventory-item__main"><%= entry.description %></span>
  <span class="inventory-item__coverage_statement"><%= entry.coverage_statement %></span>
  <span class="inventory-item__status"><%= entry.human_readable_status %></span>
</p>

<a href="<%= entry.href %>" class="btn btn-success"><%= entry.description %></a>

<%# TODO: will need to handle the potential for pid or cid to be null in this route %>
<turbo-frame id="electronic_detail_<%= entry.id %>" src="<%= electronic_detail_solr_document_path(params[:id], entry.id, entry.collection_id) %>" target="_top"></turbo-frame>