<p class="inventory-item__availability inventory-item__availability--primary">
  <span class="inventory-item__main"><%= entry.description %></span>
  <span class="inventory-item__coverage_statement"><%= entry.coverage_statement %></span>
  <span class="inventory-item__status"><%= entry.human_readable_status %></span>
</p>

<a href="<%= entry.href %>" class="btn btn-success"><%= entry.description %></a>

<%# Lazy loading additional details if electronic entry contains an id and a collection_id. %>
<% if entry.id && entry.collection_id %>
  <turbo-frame id="electronic_detail_<%= entry.id %>"
               src="<%= electronic_detail_inventory_path(params[:id], entry.id, entry.collection_id) %>"
               loading="lazy"
               target="_top">
  </turbo-frame>
<% end %>