<p class="document-inventory">
  <span class="inventory-item__header"><%= entry.location %></span>
  <span class="inventory-item__main"><%= entry.description %></span>
  <span class="inventory-item__sub-main"><%= entry.coverage_statement %></span>
</p>
<p class="inventory-item__availability inventory-item__availability--primary">
  <span class="inventory-item__availability-main"><%= entry.human_readable_status %></span>
  <span class="inventory-item__availability-footer"><%= availability_description %></span>
</p>

<%= link_to I18n.t('item_requests.request'), new_item_request_path(mms_id: entry.mms_id, holding_id: entry.id),
            class: 'btn btn-success btn-lg' %>