<%= form_with(url: requests_path, method: :post, data: { controller: 'form-validation' }) do %>
  <%= hidden_field_tag :delivery, Fulfillment::Request::Options::ELECTRONIC %>

  <%= render 'hidden_fields' %>
  <%= render 'proxy_fields' %>

  <div class="row">
    <div class="col-md-7">
      <div class="form-group mt-2">
        <%= label_tag :journal do %>
          <%= t('account.ill.form.scan.journal_title.label') %> <small class="text-muted"><%= t('account.ill.form.required') %></small>
        <% end %>
        <p class="error-message d-none"><%= t('account.ill.form.scan.journal_title.help_text') %></p>
        <%= text_field_tag :journal, @request.params.book_title || @request.params.journal, class: 'form-control mt-1', required: true %>
      </div>
      <div class="form-group mt-3">
        <%= label_tag :article do %>
          <%= t('account.ill.form.scan.article_title.label') %> <small class="text-muted"><%= t('account.ill.form.required') %></small>
        <% end %>
        <p class="error-message d-none"><%= t('account.ill.form.scan.article_title.help_text') %></p>
        <%= text_field_tag :article, @request.params.chapter_title || @request.params.article, class: 'form-control mt-1', required: true %>
      </div>
      <div class="form-group mt-3">
        <%= label_tag :author do %>
          <%= t('account.ill.form.scan.author.label') %> <small class="text-muted"><%= t('account.ill.form.required') %></small>
        <% end %>
        <p class="error-message d-none"><%= t('account.ill.form.scan.author.help_text') %></p>
        <%= text_field_tag :author, @request.params.author, class: 'form-control mt-1', required: true %>
      </div>
      <div class="form-group mt-3">
        <%= label_tag :date do %>
          <%= t('account.ill.form.scan.publication_date.label') %> <small class="text-muted"><%= t('account.ill.form.required') %></small>
        <% end %>
        <p class="error-message d-none"><%= t('account.ill.form.scan.publication_date.help_text') %></p>
        <%= text_field_tag :date, @request.params.date, class: 'form-control mt-1', required: true %>
      </div>
      <div class="form-group mt-3">
        <%= label_tag :volume, t('account.ill.form.scan.volume') %>
        <%= text_field_tag :volume, @request.params.volume, class: 'form-control mt-1' %>
      </div>
      <div class="form-group mt-3">
        <%= label_tag :issue, t('account.ill.form.scan.issue') %>
        <%= text_field_tag :issue, @request.params.issue, class: 'form-control mt-1' %>
      </div>
      <div class="form-group mt-3">
        <%= label_tag :pages, t('account.ill.form.scan.pages') %>
        <%= text_field_tag :pages, @request.params.pages, class: 'form-control mt-1', maxlength: '30' %>
      </div>
      <div class="form-group mt-3">
        <%= label_tag :comments do %>
          <%= t('account.ill.form.scan.comments.label') %>
          <br>
          <small id="comments-help" class="form-text text-muted"><%= t('account.ill.form.scan.comments.help_text') %></small>
        <% end %>
        <%= text_area_tag :comments, @request.params.comments, class: 'form-control mt-1', aria: { describedby: 'comments-help' }, rows: 4 %>
      </div>

      <p class="mt-4 mb-1"><%= t('account.ill.form.scan.delivery_msg') %></p>

      <p><%= t('account.ill.form.email_notification_msg') %></p>

      <%= button_tag t('account.ill.form.scan.submit'),
                     class: 'btn btn-success btn-lg',
                     data: { action: 'form-validation#displayErrors' } %>
    </div>
  </div>
<% end %>