<h1 class="page__heading"><%= t('account.ill.page_heading') %></h1>
<p class="page__lede"><%= t('account.ill.page_lede') %></p>

<h2 class="h4 mt-3"><%= t('account.ill.request_type.prompt') %></h2>

<nav role="tablist" id="ill-tab" role="tablist" class="nav-pills mb-3 interlibrary-loan__scan-or-loanable">
  <button class="btn btn-outline-dark <%= @ill_params.scan? ? 'active' : '' %>" id="ill-pills-0" role="tab" data-bs-toggle="pill" data-bs-target="#ill-0" aria-controls="ill-0" aria-selected="<%= @ill_params.scan? ? 'true' : 'false' %>">
    <%= t('account.ill.request_type.scan') %>
  </button>
  <button class="btn btn-outline-dark <%= @ill_params.loan? ? 'active' : '' %>" id="ill-pills-1" role="tab" data-bs-toggle="pill" data-bs-target="#ill-1" aria-controls="ill-1" aria-selected="<%= @ill_params.loan? ? 'true' : 'false' %>">
    <%= t('account.ill.request_type.loan') %>
  </button>
</nav>

<div class="tab-content interlibary-loan__forms" id="ill-tabContent">
  <div class="tab-pane fade <%= @ill_params.scan? ? 'active show' : '' %>" id="ill-0" role="tabpanel" aria-labelledby="ill-0-tab" tabindex="0">
    <form>
      <div class="row">
        <div class="col-md-7">
          <div class="form-group mt-2 form-group--error">
            <%= label_tag :journal do %>
              <%= t('account.ill.form.scan.journal_title.label') %> <small class="text-muted"><%= t('account.ill.form.required') %></small>
              <p class="form-group__error-text"><%= t('account.ill.form.scan.journal_title.help_text') %></p>
            <% end %>
            <%= text_field_tag :journal, @ill_params.journal, class: 'form-control mt-1', required: true %>
          </div>
          <div class="form-group mt-3">
            <%= label_tag :article do %>
              <%= t('account.ill.form.scan.article_title') %> <small class="text-muted"><%= t('account.ill.form.required') %></small>
            <% end %>
            <%= text_field_tag :article, @ill_params.chaptitle || @ill_params.article, class: 'form-control mt-1', required: true %>
          </div>
          <div class="form-group mt-3 form-group--error">
            <%= label_tag :author do %>
              <%= t('account.ill.form.scan.author.label') %> <small class="text-muted"><%= t('account.ill.form.required') %></small>
              <p class="form-group__error-text"><%= t('account.ill.form.scan.author.help_text') %></p>
            <% end %>
            <%= text_field_tag :author, @ill_params.author, class: 'form-control mt-1', required: true %>
          </div>
          <div class="form-group mt-3">
            <%= label_tag :rftdate do %>
              <%= t('account.ill.form.scan.publication_date') %> <small class="text-muted"><%= t('account.ill.form.required') %></small>
            <% end %>
            <%= text_field_tag :rftdate, @ill_params.rftdate, class: 'form-control mt-1', required: true %>
          </div>
          <div class="form-group mt-3">
            <%= label_tag :volume, t('account.ill.form.scan.volume') %>
            <%= text_field_tag :volume, @ill_params.volume, class: 'form-control mt-1' %>
          </div>
          <div class="form-group mt-3">
            <%= label_tag :issue, t('account.ill.form.scan.issue') %>
            <%= text_field_tag :issue, @ill_params.issue, class: 'form-control mt-1' %>
          </div>
          <div class="form-group mt-3">
            <%= label_tag :pages, t('account.ill.form.scan.pages') %>
            <%= text_field_tag :pages, @ill_params.pages, class: 'form-control mt-1' %>
          </div>
          <div class="form-group mt-3">
            <%= label_tag :comments do %>
              <%= t('account.ill.form.scan.comments.label') %>
              <br>
              <small id="comments-help" class="form-text text-muted"><%= t('account.ill.form.scan.comments.help_text') %></small>
            <% end %>
            <%= text_area_tag :comments, @ill_params.comments, class: 'form-control mt-1', aria: { describedby: 'comments-help' }, rows: 4 %>
          </div>

          <p class="mt-4 mb-1"><%= t('account.ill.form.scan.delivery_msg') %></p>

          <p><%= t('account.ill.form.email_notification_msg') %></p>

          <button class="btn btn-success btn-lg"><%= t('account.ill.form.scan.submit') %></button>
        </div>
      </div>
    </form>
  </div>
  <div class="tab-pane fade <%= @ill_params.loan? ? 'active show' : '' %>" id="ill-1" role="tabpanel" aria-labelledby="ill-1-tab" tabindex="0">
    <form>
      <div class="row">
        <div class="col-md-7">
          <div class="form-group mt-2">
            <%= label_tag :title do %>
              <%= t('account.ill.form.loan.title') %> <small class="text-muted"><%= t('account.ill.form.required') %></small>
            <% end %>
            <%= text_field_tag :title, @ill_params.booktitle, class: 'form-control mt-1', required: true %>
          </div>
          <div class="form-group mt-3">
            <%= label_tag :author do %>
              <%= t('account.ill.form.loan.author') %> <small class="text-muted"><%= t('account.ill.form.required') %></small>
            <% end %>
            <%= text_field_tag :author, @ill_params.author, class: 'form-control mt-1' %>
          </div>
          <div class="form-group mt-3">
            <%= label_tag :year do %>
              <%= t('account.ill.form.loan.publication_year') %> <small class="text-muted"><%= t('account.ill.form.required') %></small>
            <% end %>
            <%= text_field_tag :year, @ill_params.year, class: 'form-control mt-1', required: true %>
          </div>
          <div class="form-group mt-3">
            <%= label_tag :edition, t('account.ill.form.loan.edition') %>
            <%= text_field_tag :edition, @ill_params.edition, class: 'form-control mt-1' %>
          </div>
          <div class="form-group mt-3">
            <%= label_tag :publisher, t('account.ill.form.loan.publisher') %>
            <%= text_field_tag :publisher, @ill_params.publisher, class: 'form-control mt-1' %>
          </div>
          <div class="form-group mt-3">
            <%= label_tag :place, t('account.ill.form.loan.place_of_publication') %>
            <%= text_field_tag :place, @ill_params.place, class: 'form-control mt-1' %>
          </div>
          <div class="form-group mt-3">
            <%= label_tag :isbn,  t('account.ill.form.loan.isbn') %>
            <%= text_field_tag :isbn, @ill_params.isbn, class: 'form-control mt-1' %>
          </div>
          <div class="form-group mt-3">
            <%= label_tag :comments do %>
              <%= t('account.ill.form.loan.comments.label') %>
              <br>
              <small id="comments-help" class="form-text text-muted">
                <%= t('account.ill.form.loan.comments.help_text') %>
              </small>
            <% end %>
            <%= text_area_tag :comments, @ill_params.comments, class: 'form-control mt-1', aria: { describedby: 'comments-help' }, rows: 4 %>
          </div>

          <fieldset>
            <legend class="h4 mt-4"><%= t('account.ill.form.loan.delivery.label') %></legend>
            <p><%= t('account.ill.form.loan.delivery.help_text_html', pickup_url: t('urls.guides.pickup'), bbm_url: t('urls.guides.bbm')) %></p>
            <div class="form-check mt-3">
              <input class="form-check-input" type="radio" name="delivery" id="delivery-pickup" value="delivery-pickup">
              <label class="form-check-label" for="delivery-pickup">
                <%= t('account.ill.form.loan.delivery.options.pickup.label') %>
              </label>

              <div class="input-group mb-2 mt-1">
                <%= select_tag(:pickup_location, options_for_select(Settings.locations[:pickup]), {
                  include_blank: t('account.ill.form.loan.delivery.options.pickup.placeholder'),
                  id: 'pickup_location',
                  label: 'Location',
                  class: 'custom-select p-2 rounded',
                  required: 'required'
                }) %>
              </div>
            </div>
            <div class="form-check mt-3">
              <input class="form-check-input" type="radio" name="delivery" id="delivery-mail" value="delivery-mail" checked>
              <label class="form-check-label" for="delivery-mail">Mail <br>
              <small id="delivery-mail-help" class="form-text text-muted"><%=t('account.ill.form.loan.delivery.options.mail.help_text_html', bbm_form: t('urls.forms.bbm')) %></small></label>
            </div>
          </fieldset>

          <p class="mt-4 mb-1"><%= t('account.ill.form.loan.delivery_msg') %></p>
          <p><%= t('account.ill.form.email_notification_msg') %></p>

          <button class="btn btn-success btn-lg"><%= t('account.ill.form.loan.submit') %></button>
        </div>
      </div>
    </form>
  </div>
</div>