<%= page_title t('account.shelf.page_heading') %>

<%= render BreadcrumbsComponent.new do |component|%>
  <% component.with_breadcrumb(href: root_path) { t('account.breadcrumbs.root') } %>
  <% component.with_breadcrumb(href: account_path) { t('account.breadcrumbs.base') } %>
  <% component.with_breadcrumb(active: true) { t('account.shelf.page_heading') } %>
<% end %>

<div class="d-md-flex justify-content-between align-items-center mb-3">
  <div>
    <h1 class="page__heading mt-3"><%= t('account.shelf.page_heading') %></h1>
    <p class="page__lede mb-4"><%= t('account.shelf.page_lede') %></p>
  </div>

  <% if @listing.loans? %>
    <div>
      <%= form_with url: ils_renew_all_request_path, method: :patch do |form| %>
        <%= form.submit t('account.shelf.renew_all.button'), class: "btn btn-success" %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="shelf-listing-filters col-12 col-md-3">
    <%= render(Account::ShelfListingFiltersComponent.new(@listing)) %>
  </div>
  <div class="shelf-listing col-12 col-md-9">
    <%= render(Account::ShelfListingComponent.new(@listing)) %>
  </div>
</div>