<div class="table-responsive mt-4">
  <table class="table align-middle">
    <tbody>
      <tr>
        <th scope="row">
          Name
        </th>
        <td>
          Patron's Name
        </td>
      </tr>
      <tr>
        <th scope="row">
          Email
        </th>
        <td>
          pennkey@upenn.edu
        </td>
      </tr>
      <tr>
        <th scope="row">
          <%= t('account.settings.terms.user_group') %>
        </th>
        <td>
          <%= alma_user_group %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p class="callout mt-1"> <strong><%= t('callout.guide') %>:</strong> <a href="https://guides.library.upenn.edu/circulation/Yourlibraryaccount"><%= t('account.settings.callout_guide_update_details') %></a></p>

<h2 class="h5 mt-4"><%= t('account.settings.terms.bbm_delivery_address') %></h2>
<% if bbm_delivery_address.present? %>
  <p>
    <% bbm_delivery_address.each do |ele| %>
      <%= ele %><br/>
    <% end %>
  </p>
<% else %>
  <p class="text-muted"><%= t('account.settings.bbm_empty') %></p>
<% end %>
<p class="callout">
  <strong><%= t('callout.guide') %>:</strong> <a href="https://guides.library.upenn.edu/circulation/vpbooksbymail"><%= t('account.settings.callout_guide_bbm') %></a>
</p>

