<dl>
  <dt><%= t('account.settings.terms.user_group') %></dt>
  <dd><%= alma_user_group %></dd>

  <dt><%= t('account.settings.terms.bbm_delivery_address') %></dt>
  <dd>
    <% bbm_delivery_address.each do |ele| %>
      <%= ele %><br/>
    <% end %>
  </dd>
</dl>

<p class="callout">
  <strong><%= t('callout.guide') %>:</strong> <a href="https://guides.library.upenn.edu/circulation/vpbooksbymail"><%= t('account.settings.callout_guide_bbm') %></a>
</p>