<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/app/assets/config">Find</a></li>
    <li class="breadcrumb-item active" aria-current="page">Account</li>
  </ol>
</nav>

<h1 class="page__heading"><%= t('account.show.page_heading') %></h1>
<p class="page__lede mb-4"><%= t('account.show.page_lede') %></p>

<div class="row cards-as-links">
  <div class="col-lg-3 col-sm-6">
    <a href="/account/shelf" class="card mb-3">
      <div class="card-body">
        <span class="d-flex justify-content-between"><h2 class="card-title h5"><%= t('account.show.cards.shelf.title') %></h2><i class="bi bi-book h4 mb-0"></i></span>
        <p class="card-text"><%= t('account.show.cards.shelf.description') %></p>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-sm-6">
    <a href="/account/settings" class="card mb-3">
      <div class="card-body">
        <span class="d-flex justify-content-between"><h2 class="card-title h5"><%= t('account.show.cards.settings.title') %></h2><i class="bi bi-gear h4 mb-0"></i></span>
        <p class="card-text"><%= t('account.show.cards.settings.description') %></p>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-sm-6">
    <a href="/bookmarks" class="card mb-3">
      <div class="card-body">
        <span class="d-flex justify-content-between"><h2 class="card-title h5"><%= t('account.show.cards.bookmarks.title') %></h2><i class="bi bi-bookmark h4 mb-0"></i></span>
        <p class="card-text"><%= t('account.show.cards.bookmarks.description') %></p>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-sm-6">
    <a href="/account/fines-and-fees" class="card mb-3">
      <div class="card-body">
        <span class="d-flex justify-content-between"><h2 class="card-title h5"><%= t('account.show.cards.fines_and_fees.title') %></h2><i class="bi bi-currency-dollar h4 mb-0"></i></span>
        <p class="card-text"><%= t('account.show.cards.fines_and_fees.description') %></p>
      </div>
    </a>
  </div>
</div>