<li><%= t('account.ill.form.loan.title.label') %>: <%= @params.title || 'Not provided' %></li>
<li><%= t('account.ill.form.loan.author.label') %>: <%= @params.author || 'Not provided' %></li>
<li><%= t('account.ill.form.loan.publication_year.label') %>: <%= @params.year || 'Not provided' %></li>
<li><%= t('account.ill.form.loan.edition') %>: <%= @params.edition || 'Not provided' %></li>
<li><%= t('account.ill.form.loan.publisher') %>: <%= @params.publisher || 'Not provided' %></li>
<li><%= t('account.ill.form.loan.place_of_publication') %>: <%= @params.place || 'Not provided' %></li>
<li><%= t('account.ill.form.loan.isbn') %>: <%= @params.place || 'Not provided' %></li>