<li><%= t('account.ill.form.scan.journal_title.label') %>: <%= @params.journal || 'Not provided' %></li>
<li><%= t('account.ill.form.scan.article_title.label') %>: <%= @params.article || 'Not provided' %></li>
<li><%= t('account.ill.form.scan.author.label') %>: <%= @params.author || 'Not provided' %></li>
<li><%= t('account.ill.form.scan.publication_date.label') %>: <%= @params.date || 'Not provided' %></li>
<li><%= t('account.ill.form.scan.volume') %>: <%= @params.volume || 'Not provided' %></li>
<li><%= t('account.ill.form.scan.issue') %>: <%= @params.issue || 'Not provided' %></li>
<li><%= t('account.ill.form.scan.pages') %>: <%= @params.pages || 'Not provided' %></li>