<!DOCTYPE html>
<html lang="en">
<head>
  <title>Find Catalog Document Delivery Submission</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <h1>New Request</h1>

  <p>
    Request from:
  </p>

  <ul>
    <li>User: <%= @user.full_name %></li>
    <li>Email: <%= @user.email %></li>
    <li>Pennkey: <%= @user.uid %></li>
  </ul>

  <% if @params.source == Fulfillment::Endpoint::Illiad::ILL_FORM_SOURCE_SID %>
  <p>This request came from the "Request an Item" form.</p>

  <ul>
    <% if @params.article.present? %>
      <%= render 'scan_fields' %>
    <% elsif @params.title.present? %>
      <%= render 'loan_fields' %>
    <% end %>
  </ul>

  <% elsif @params.source == Fulfillment::Endpoint::Illiad::RECORD_PAGE_SOURCE_SID %>
    <%= render 'item_fields' %>
  <% end %>

  <p>
    <%= t('account.ill.form.loan.comments.label') %>:
  </p>

  <p>
    <%= @params.comments %>
  </p>

</body>
</html>
