<footer class="site-footer">
  <div class="site-footer__inner-container container">

    <%= image_tag 'discover/libraries-logo-white.svg',
                  class: 'site-footer__logo',
                  alt: t('discover.images.libraries_logo.label'),
                  role: 'img' %>

    <div class="site-footer__links">
      <%= link_to t('discover.links.upenn.text'), t('discover.links.upenn.url') %>
      <%= link_to t('discover.links.privacy.text'), t('discover.links.privacy.url') %>
      <%= link_to t('discover.links.disclaimer.text'), t('discover.links.disclaimer.url') %>
      <%= link_to t('discover.links.emergency.text'), t('discover.links.emergency.url') %>
      <%= link_to t('discover.links.copyright.text'), t('discover.links.copyright.url') %>
      <%= link_to t('discover.links.accessibility.text'), t('discover.links.accessibility.url') %>
    </div>

  </div>
</footer>