<footer class="site-footer">
  <div class="site-footer__inner-container container">
    <%= link_to 'UPenn', '#' %>
    <%= link_to 'Privacy Policy', '#' %>
    <%= link_to 'Report Accessibility Issues and Get Help', '#' %>
    <%= link_to 'Disclaimer', '#' %>
    <%= link_to 'Emergency Services', '#' %>
    <%= link_to 'Copyright Infringement', '#' %>
  </div>
</footer>