<footer class="site-footer">
  <div class="site-footer__inner-container container">
    <%= link_to t('discover.links.upenn.text'), t('discover.links.upenn.url') %>
    <%= link_to t('discover.links.privacy.text'), t('discover.links.privacy.url') %>
    <%= link_to t('discover.links.accessibility.text'), t('discover.links.accessibility.url') %>
    <%= link_to t('discover.links.disclaimer.text'), t('discover.links.disclaimer.url') %>
    <%= link_to t('discover.links.emergency.text'), t('discover.links.emergency.url') %>
    <%= link_to t('discover.links.copyright.text'), t('discover.links.copyright.url') %>
  </div>
</footer>