<nav id="skip-links" class="visually-hidden-focusable sr-only sr-only-focusable" aria-label="Skip links">
  <div class="container-xl">
    <%= link_to t('discover.links.skip_to_search.text'), t('discover.links.skip_to_search.url') %>
    <%= link_to t('discover.links.skip_to_main.text'), t('discover.links.skip_to_main.url') %>
    <%= link_to t('discover.links.skip_to_results.text'), t('discover.links.skip_to_results.url') if discover_query_params? %>
    <%= link_to t('discover.links.skip_to_footer.text'), t('discover.links.skip_to_footer.url') %>
  </div>
</nav>

<header class="site-header container">
  <div class="site-header__inner-container">
    <div class="site-header__branding">
      <%= image_tag 'discover/site_logo.svg', class: 'site-header__logo', alt: t('discover.logo.label'), role: 'img' %>
    </div>
  </div>
</header>