<h1 class="visually-hidden"><%= t('discover.results.title') %></h1>

<div class="results-content container">
  <div class="results-nav row">
    <div class="col-12">
      <h2 class="h5 nav-header"><%= t('discover.results.nav.label') %>:
        <span class="search-term"><%= discover_query %></span></h2>
      <ul class="nav">
        <li class="nav-item">
          <a href="#libraries" class="nav-link"><%= t('discover.results.source.find.label') %></a>
          <span class="results-count">(22,194)</span>
        </li>
        <li class="nav-item">
          <a href="#archives" class="nav-link"><%= t('discover.results.source.finding_aids.label') %></a>
          <span class="results-count">(455)</span>
        </li>
        <li class="nav-item">
          <a href="#penn-museum" class="nav-link"><%= t('discover.results.source.museum.label') %></a>
          <span class="results-count">(1,600)</span>
        </li>
        <li class="nav-item">
          <a href="#penn-art-collection" class="nav-link"><%= t('discover.results.source.art_collection.label') %></a>
          <span class="results-count">(25)</span>
        </li>
      </ul>
    </div>
  </div>

  <div id="results" class="results row">
    <div class="col-12 col-lg-6">
      <%= render(Discover::ResultsSkeletonComponent.new(source: 'find', query: @search_params)) do %>
        <span class="text-center"><%= I18n.t('discover.results.messages.loading') %> </span>
      <% end %>
      <%= render(Discover::ResultsSkeletonComponent.new(source: 'finding_aids', query: @search_params)) do %>
        <span class="text-center"><%= I18n.t('discover.results.messages.loading') %> </span>
      <% end %>
    </div>
    <div class="col-12 col-lg-6">
      <%= render(Discover::ResultsSkeletonComponent.new(source: 'museum', query: @search_params)) do %>
        <span class="text-center"><%= I18n.t('discover.results.messages.loading') %> </span>
      <% end %>
      <%= render(Discover::ResultsSkeletonComponent.new(source: 'art_collection', query: @search_params)) do %>
        <span class="text-center"><%= I18n.t('discover.results.messages.loading') %> </span>
      <% end %>
    </div>
  </div>
</div>