<% if @lazy %>
  <turbo-frame id="availability_<%= @document.id %>" src="<%= availability_solr_document_path(@document.id) %>" target="_top">
    <div>
      Loading...
    </div>
  </turbo-frame>
<% else %>
  <%# TODO: We might not need a turbo-frame when displaying the full availability information, but having a turbo-frame shouldn't have negative effects. %>
  <turbo-frame id="availability_<%= @document.id %>" target="_top">
    <div>
      <ol class="holdings">
        <% @entries.each do |entry| %>
          <li class="holding__item holding__item--<%= entry[:status].present? ? entry[:status]&.parameterize :
                                                        'holding__item--other' %>">
            <%= render(Find::InventoryEntryComponent.new(holding_data: entry)) %>
          </li>
        <% end %>
        <% if @brief && @count > 1 %>
          <a href="<%= solr_document_path(@document.id) %>" class="holdings__other-link">
            See <%= @count %> holdings
          </a>
        <% end %>
      </ol>
    </div>
  </turbo-frame>
<% end %>
