<ol class="holdings">
  <%= static_entries %>
  <% if @total_count.positive? %>
  <turbo-frame id="inventory_<%= @id %>" src="<%= inventory_solr_document_path(@id) %>" target="_top">
    <%# TODO: Do something better here, these spinners look ugly %>
    <% skeleton_count.times do %>
      <li class="holding-item holding__loading spinner-border text-dark" role="status">
        <span class="visually-hidden"><%= t('inventory.entries.loading') %></span>
      </li>
    <% end %>
  </turbo-frame>
    <% if show_more_count.positive? %>
    <li>
      <a href="<%= solr_document_path(@id) %>" class="holdings__other-link">
        <%= t('inventory.see_all', count: show_more_count, options: 'option'.pluralize(show_more_count)) %>
      </a>
    </li>
    <% end %>
  <% end %>
</ol>