<div id="holding_<%= @id %>">
  <% case @type %>
  <% when 'physical' %>
    <a href="<%= @href %>"><%= @status.titleize %></a> - <%= @format %> - <%= @description %> - <%= @location %>
  <% when 'electronic' %>
    <a href="<%= @href %>"><%= @status.titleize %></a> - <%= @format %> - <%= @description %> - <%= @location %>
  <% end %>
</div>