<div id="holding_<%= id %>">
  <% case type %>
  <% when 'physical' %>
    <a href="<%= href %>"><%= status.titleize %></a> - <%= entry_format %> - <%= description %> - <%= location %>
  <% when 'electronic' %>
    <a href="<%= href %>"><%= status.titleize %></a> - <%= entry_format %> - <%= description %> - <%= location %>
  <% end %>
</div>