<a href="<%= href %>" class="holding__link">
  <% case type %>
  <% when 'physical' %>
    <span class="holding__header">
      <%= status.capitalize %>
    </span>
    <span class="holding__main">
      <%= [entry_format, description, location].compact_blank.join(' - ') %>
    </span>
  <% when 'electronic' %>
    <span class="holding__main">
      <%= [entry_format, description, location].compact_blank.join(' - ') %>
    </span>
    <span class="holding__footer">
      <%= status.capitalize %> online
    </span>
  <% end %>
</a>