<li class="<%= classes.join(' ') %>">
  <a href="<%= href %>" class="holding__link link-prevent-default">
  <% if header_content.present? %>
  <span class="holding__header">
    <%= header_content %>
  </span>
  <% end %>
  <span class="holding__main">
    <%= main_content %>
  </span>
  <% if public_note_content %>
  <span class="holding__public_note">
    <%= public_note_content %>
  </span>
  <% end %>
  <% if footer_content.present? %>
  <span class="holding__footer">
    <%= footer_content %>
  </span>
  <% end %>
  </a>
</li>