<%
  # Up to date with Blacklight v8.3.0@69373f202
%>
<!DOCTYPE html>
<%= content_tag :html, class: 'no-js', **html_tag_attributes do %>
  <head>
    <%= render('shared/google_analytics/tags', gtag_id: Settings.google_analytics.id) if Settings.google_analytics.id %>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@penn-libraries/web@#{Settings.pennlibs_web_version}/dist/web/web.css" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "https://cdn.jsdelivr.net/npm/@penn-libraries/web@#{Settings.pennlibs_web_version}/dist/web/web.esm.js" %>
    <script>
        document.querySelector('html').classList.remove('no-js');
    </script>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
  </head>
  <body class="<%= render_body_class %>">
  <%= render('shared/google_analytics/tags_noscript', gtag_id: Settings.google_analytics.id) if Settings.google_analytics.id %>
  <%= render blacklight_config.skip_link_component.new do %>
    <%= content_for(:skip_links) %>
  <% end %>
  <%= render partial: 'shared/header_navbar' %>

  <main id="main-container" class="<%= container_classes %>" role="main" aria-label="<%= t('blacklight.main.aria.main_container') %>">
    <%= content_for(:container_header) %>

    <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

    <div class="row">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </main>

  <%= render partial: 'shared/footer' %>
  <%= render partial: 'shared/modal' %>
  </body>
<% end %>